
!.gitignore

__pycache__
checkpoints/*
pretrain_ckpt/*
result/*
log
./log

.codeflicker/
.vscode/

*.npy
*.DS_Store
index/log/
raw_data/
results/
index/__pycache__/
index/models/__pycache__/

ReSOT.pdf
data/Arts/
data/Games/
